
* {
    box-sizing: border-box;
}

html body {
    /* The image used */
    background-image: url("MandatoryB.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: 0 55px;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    overflow: auto;
}

#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
}

#myUL li a:hover:not(.header) {
    background-color: #eee;
}

.nav-bg-color {
    background-color: #134370;
}

.navbar-fix {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 55px;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-link {
    text-transform: uppercase !important;
}

.home {
    width: 75px;
    padding-right: 10px;
    padding-left: 10px;
}

.home-bg {
    background-color: white;
}

.fa-home {
    color: #24a2b6;
}

.link:hover {
    background-color: white !important;
    color: #13567f !important;

}

.navbar-nav li a {
    color: white !important;
    padding-left: 10px;
    padding-right: 10px;
}

.logout {
    color: black !important;
}

.logout:hover {
    background-color: black !important;
    color: #c24442 !important;
}

.btn-logout {
    background-color: #e7514a;
}

.jumbotron {
    background: rgba(90, 90, 90, 0.50);
}