<!--admin-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Approval</title>

    <!--/*/ <th:block th:include="fragments/navbarHead :: head"></th:block> /*/-->

</head>
<body>
<!--/*/ <th:block th:replace="fragments/navbarBody :: navbarAdmin"></th:block> /*/-->


    <h2>Overview of Courses </h2>
    <thead>
    <tr>
        <th>id</th>
        <th>courseName</th>
        <th>Studentid</th>
        <th>Courseid</th>
    </tr>
    </thead>
<tbody>
<tr th:each="approval: ${coursesList}">
    <td th:text="${approve.id}"/>
    <td th:text="${approve.Studentid}"/>
    <td th:text="${approve.Courseid}"/>
</tr>
</tbody>
</body>
</html>