<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--/*/ <th:block th:include="fragments/navbarHead :: head"></th:block> /*/-->

</head>
<body>
<!--/*/ <th:block th:replace="fragments/navbarBody :: navbarAdmin"></th:block> /*/-->



<div id="welcome-div">Welcome!</div>

<form>
    <input type="text" id="post-to-find">
    <button type="button" id="post-to-find-btn">Find</button>
</form>
<p id="show-info"></p>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    $(document).on('click', "#post-to-find-btn", function () {
        var city = $('#post-to-find').val();
        var appid='&APPID=001b0f58045147663b1ea518d34d88b4';
        $.ajax({
            url: "https://api.openweathermap.org/data/2.5/weather?q=" + city + appid + "&units=metric",
            method: "get",


            success: function (resp) {
                console.log(resp);
                var city=resp.name;
                var currentTemp = resp.main.temp_max;
                var maxtemp = resp.main.temp_max;
                var mintemp = resp.main.temp_min;
                var humid = resp.main.humidity;
                $('#show-info').text ("Country :" + city  +", max temp:" + maxtemp + ", minTemp: " + mintemp + "humidity" + humid);
d
            },
            error: function (resp) {
                console.log("somthing went vaery bad");
                console.log(resp);
            }
        });
    });
</script>


</body>
</html>
