<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Rediger ansat</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>



    <h2>edit course</h2>

    <form class="genericForm" method="post" th:action="@{/editcourse}">
        <div>
            <label>course name: </label>
            <input type="text" th:field="${course.courseName}"/>
        </div>
        <div>
            <label>language: </label>
            <input type="text" th:field="${course.courseLanguage}"/>
        </div>
        <div>
            <label>min students</label>
            <input type="text" th:field="${course.minStudents}"/>
        </div>
        <div>
            <label>max students</label>
            <input type="text" th:field="${course.maxStudents}"/>
        </div>
        <div>
            <label>expected number</label>
            <input type="text" th:field="${course.expectedNumber}"/>
        </div>
        <div>
            <label>ETC</label>
            <input type="text" th:field="${course.ects}"/>
        </div>
        <div>
            <label>Prerequisites</label>
            <input type="text" th:field="${course.preRequisites}"/>
        </div>
        <div>
            <label>Learning outcome</label>
            <input type="text" th:field="${course.learningOutcome}"/>
        </div>
        <div>
            <label>Content</label>
            <input type="text" th:field="${course.content}"/>
        </div>
        <div>
            <label>Learning activities</label>
            <input type="text" th:field="${course.learningActivities}"/>
        </div>
        <div>
            <label>Examform</label>
            <input type="text" th:field="${course.examForm}"/>
        </div>
        <div>
            <label>Teachers</label>
            <input type="text" th:field="${course.teachers}"/>
        </div>

        <input type="submit" value="Gem">

    </form>
</body>
</html>