<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">>
<head>
    <meta charset="UTF-8">
    <title>Start Page</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/layout.css">
</head>


<body>
<form class="form-signin"  method="post" action="/createcourse" >
    <div>
        <label>coursename: </label>
        <input type="text" th:field="${course.courseName}" required="true"/>
    </div>
    <div>
        <label> Course language</label>
        <input type="text" th:field="${course.Course_language}" required="true"/>
    </div>
    <div>

        <label>ECTS</label>
        <input type="text" th:field="${course.ECTS}" required="true"/>
    </div>
    <div>
        <label>minimum students</label>
        <input type="text" th:field="${course.min_students}" required="true"/>
    </div>
    <div>
        <label>maximum students</label>
        <input type="text" th:field="${course.max_students}"required="true"/>
    </div>
    <div>
        <label>expected number</label>
        <input type="text" th:field="${course.expectednumber}"required="true"/>
    </div>
    <div>
        <label>Prerequisites</label>
        <input type="text" th:field="${course.Prerequisites}"required="true"/>
    </div>
    <div>
        <label>Learning outcome</label>
        <input type="text" th:field="${course.Learning_outcome}"required="true"/>
    </div>
    <div>
        <label>Content</label>
        <input type="text" th:field="${course.Content}"required="true"/>
    </div>
    <div>
        <label>activities</label>
        <input type="text" th:field="${course.Learning_activities}"required="true"/>
    </div>
    <div>
        <label>Examform</label>
        <input type="text" th:field="${course.Examform}"required="true"/>
    </div>
    <div>
        <label>Teachers</label>
        <input type="text" th:field="${course.Teachers}"required="true"/>
    </div>
    <input type="submit" value="Send"/>

</form>
</body>
