<!DOCTYPE html>
<html>
<head lang="en">
    <title>Menu</title>

    <!--/*/ <th:block th:include="fragments/navbarHead :: head"></th:block> /*/-->
</head>
<body>

<!--/*/ <th:block th:replace="fragments/navbarBody :: navbarTeacher"></th:block> /*/-->

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">name</th>
        <th scope="col">language</th>
        <th scope="col">Ects</th>
        <th scope="col">min-students</th>
        <th scope="col">max-students</th>
        <th scope="col">expected</th>
        <th scope="col">P_requisites</th>
        <th scope="col">Learning outcome</th>
        <th scope="col">Content</th>
        <th scope="col">activities</th>
        <th scope="col">Examform</th>
        <th scope="col">Teachers</th>
    </tr>
    </thead>
    <tbody>



    <tr th:each="course:${studentList}">
        <td th:text="${course.courseName}"></td>
        <td th:text="${course.courseLanguage}"></td>
        <td th:text="${course.ects}"></td>
        <td th:text="${course.minStudents}"></td>
        <td th:text="${course.maxStudents}"></td>
        <td th:text="${course.expectedNumber}"></td>
        <td th:text="${course.preRequisites}"></td>
        <td th:text="${course.learningOutcome}"></td>
        <td th:text="${course.content}"></td>
        <td th:text="${course.learningActivities}"></td>
        <td th:text="${course.examForm}"></td>
        <td th:text="${course.teachers}"></td>

        <td>
            <a th:href="@{'/editcourse?id='+${course.getId()}}" class="knap">Rediger</a>
            <a th:href="@{'/deletecourse?id='+${course.getId()}}" onclick="return confirm('Bekræft sletning')" class="knap">Slet</a>

        </td>

    </tr>

    </tbody>
</table>




</body>
</html>