<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" id="nav_top">
    <a class="navbar-brand" href="#">Courses</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/save_course">create course </a>
            </li>
        </ul>
        <span class="navbar-text">
      Welcome <span id="name_span"></span>
    </span>
    </div>
</nav>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">name</th>
        <th scope="col">language</th>
        <th scope="col">Ects</th>
        <th scope="col">min-students</th>
        <th scope="col">max-students</th>
        <th scope="col">expected</th>
        <th scope="col">P_requisites</th>
        <th scope="col">Learning outcome</th>
        <th scope="col">Content</th>
        <th scope="col">activities</th>
        <th scope="col">Examform</th>
        <th scope="col">Teachers</th>
    </tr>
    </thead>
    <tbody>



    <tr th:each="course:${List}">
        <td th:text="${course.courseName}"></td>
        <td th:text="${course.Course_language}"></td>
        <td th:text="${course.ECTS}"></td>
        <td th:text="${course.min_students}"></td>
        <td th:text="${course.max_students}"></td>
        <td th:text="${course.expectednumber}"></td>
        <td th:text="${course.Prerequisites}"></td>
        <td th:text="${course.Learning_outcome}"></td>
        <td th:text="${course.Content}"></td>
        <td th:text="${course.Learning_activities}"></td>
        <td th:text="${course.Examform}"></td>
        <td th:text="${course.Teachers}"></td>
        <td>
            <a th:href="@{'/editcourse?id='+${course.getId()}}" class="knap">Rediger</a>
            <a th:href="@{'/deletecourse?id='+${course.getId()}}" onclick="return confirm('Bekræft sletning')" class="knap">Slet</a>

        </td>

    </tr>

    </tbody>
</table>




</body>
</html>