<!--admin-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Students</title>
    <!--/*/ <th:block th:include="fragments/navbarHead :: head"></th:block> /*/-->
</head>
<body>

<!--/*/ <th:block th:replace="fragments/navbarBody :: navbarAdmin"></th:block> /*/-->

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Students in "Course name"</h1>

        <!--Choose course id-->
        <select name="course">
        <!--<select th:each="" onchange="location = this.options[this.selectedIndex].value;">-->
            <option value="0">Please select</option>
            <option th:each="course:${courseView}" th:value="${course.id}" th:text="${course.courseName}"></option>
            <!--<option th:value="${course.id}" hidden></option>-->
        </select>

        <table class="table table-striped">
            <thead>
            <tr class="bg-success">
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Phone number</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="student:${studentView}">
                <td th:text="${student.firstName}">{{First name}}</td>
                <td th:text="${student.lastName}">{{Last name}}</td>
                <td th:text="${student.tlf}">{{Phone number}}</td>
            </tr>

            </tbody>
        </table>
        <button class="btn btn-danger">Back</button>
    </div>
</div>

</body>
</html>