<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Approval</title>

    <!--/*/ <th:block th:include="fragments/navbarHead :: head"></th:block> /*/-->

</head>
<body>

<div class="jumbotron jumbotron-fluid">
    <div class="container mb-3">
        <div class="row">
            <div class="container div-center mb-3">
                <h1 class="page-heading mb-3">Waiting List</h1>
            </div>
        </div>

        <div class="container input-bg input-padding">
            <table class="table table-striped table-list">
                <thead>
                <tr>
                    <th scope="col">Course</th>
                    <th scope="col">Ects</th>
                    <th scope="col">Min # of students</th>
                    <th scope="col">Max # of students</th>
                    <th scope="col">Teacher</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="waitinglist:${waitingList}">
                    <td th:text="${waitinglist.courseName}"></td>
                    <td th:text="${waitinglist.ects}"></td>
                    <td th:text="${waitinglist.minStudents}"></td>
                    <td th:text="${waitinglist.maxStudents}"></td>
                    <td th:text="${waitinglist.teachers}"></td>

                    <td>
                        <a th:href="@{'/editcourse?id='+${course.getId()}}" class="btn btn-primary">Rediger</a>
                        <a th:href="@{'/deletecourse?id='+${course.getId()}}" onclick="return confirm('Bekræft sletning')" class="btn btn-danger">Slet</a>

                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>